name: checks
on: 
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/*.md'

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref }}'
  cancel-in-progress: true

jobs:
    coverage:
        runs-on: ubuntu-latest
        permissions:
          contents: read
          pull-requests: write
        steps:
        - uses: actions/checkout@v5
        - uses: actions-rust-lang/setup-rust-toolchain@v1
        - name: Install cargo-llvm-cov
          uses: taiki-e/install-action@cargo-llvm-cov
        - name: Generate code coverage
          run: cargo llvm-cov -q --lcov --output-path lcov.info
        - name: Get previous coverage from Gist
          id: gist_content
          uses: gorgbus/gist-actions@main
          env:
            GITHUB_TOKEN: ${{ secrets.GIST_TOKEN }}
          with:
            action: "get"
            gist_id: "02a7627bd5ba7bdaaf0063e02cadcfde"
            file_name: "gdm_coverage.json"
        - name: Generate code coverage
          id: coverage
          run: |
            echo "COVERAGE=$(cargo llvm-cov report -q --summary-only | awk '/^TOTAL/ { print $4 }' | sed 's/%//')" >> "$GITHUB_OUTPUT"
        - name: Generate Markdown coverage report
          run: |
            cargo llvm-cov report --summary-only --json | jq -r '("# LCOV Coverage summary for PR\n", "| File | Covered | Total | Percent |\n|------|---------|-------|---------|", (.data[0].files[] | "| " + (.filename | split("/") | last) + " | " + (.summary.lines.covered|tostring) + " | " + (.summary.lines.count|tostring) + " | " + (.summary.lines.percent|tostring) + "% |"), "", "| Metric    | Covered | Total | Percent |", "|-----------|---------|-------|---------|", "| Lines     | \(.data[0].totals.lines.covered) | \(.data[0].totals.lines.count) | \(.data[0].totals.lines.percent)% |", "| Functions | \(.data[0].totals.functions.covered) | \(.data[0].totals.functions.count) | \(.data[0].totals.functions.percent)% |", "| Regions   | \(.data[0].totals.regions.covered) | \(.data[0].totals.regions.count) | \(.data[0].totals.regions.percent)% |")' > report.md
        - name: Add coverage report to PR
          uses: marocchino/sticky-pull-request-comment@v2
          with:
            recreate: true
            path: report.md
        - name: Compare coverage to previous coverage
          if: fromJson(steps.coverage.outputs.COVERAGE) < fromJson(steps.gist_content.outputs.content).coverage
          run: |
            echo "Current coverage: ${{ steps.coverage.outputs.COVERAGE }}%" >> $GITHUB_STEP_SUMMARY
            echo "Previous coverage: ${{ steps.gist_content.outputs.content }}%" >> $GITHUB_STEP_SUMMARY
            echo "Code coverage decreased. Failing the check."
            exit 1
    build:
        needs: coverage
        strategy:
          matrix:
            os: [ubuntu-latest, macos-latest, windows-latest]
        runs-on: ${{ matrix.os }}
        steps:
        - uses: actions/checkout@v5
        - uses: actions-rust-lang/setup-rust-toolchain@v1
          with:
            components: |
                clippy
                rustfmt
        - name: Run clippy
          run: cargo clippy -- -D warnings
        - name: Rustfmt Check
          uses: actions-rust-lang/rustfmt@v1
        - name: Build
          run: cargo build --release