name: checks
on: 
  pull_request:
    branches:
      - main

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref }}'
  cancel-in-progress: true

jobs:
    checks:
        runs-on: ubuntu-latest
        permissions:
          contents: read
          pull-requests: write
        steps:
        - uses: actions/checkout@v5
        - uses: dorny/paths-filter@v2.2.1
          id: filter
          with:
            filters: |
              rs:
                - '**/*.rs'
        - uses: actions-rust-lang/setup-rust-toolchain@v1
          if: ${{ steps.filter.outputs.rs == 'true' }}
          with:
            components: |
                clippy
                rustfmt
        - name: Run clippy
          if: ${{ steps.filter.outputs.rs == 'true' }}
          run: cargo clippy -- -D warnings
        - name: Rustfmt Check
          if: ${{ steps.filter.outputs.rs == 'true' }}
          uses: actions-rust-lang/rustfmt@v1
        - name: Install cargo-llvm-cov
          if: ${{ steps.filter.outputs.rs == 'true' }}
          uses: taiki-e/install-action@cargo-llvm-cov
        - name: Generate code coverage
          if: ${{ steps.filter.outputs.rs == 'true' }}
          run: cargo llvm-cov -q --lcov --output-path lcov.info
        - name: Get previous coverage from Gist
          if: ${{ steps.filter.outputs.rs == 'true' }}  
          id: gist_content
          uses: gorgbus/gist-actions@main
          env:
            GITHUB_TOKEN: ${{ secrets.GIST_TOKEN }}
          with:
            action: "get"
            gist_id: "02a7627bd5ba7bdaaf0063e02cadcfde"
            file_name: "gdm_coverage.json"
        - name: Setup LCOV
          if: ${{ steps.filter.outputs.rs == 'true' }}
          uses: hrishikesh-kadam/setup-lcov@v1
        - name: Report code coverage
          if: ${{ steps.filter.outputs.rs == 'true' }}
          uses: zgosalvez/github-actions-report-lcov@v4
          with:
            coverage-files: lcov.info
            minimum-coverage: ${{ fromJson(steps.gist_content.outputs.content).coverage }}
            github-token: ${{ secrets.GITHUB_TOKEN }}
            update-comment: true
    build:
        needs: checks
        strategy:
          matrix:
            os: [ubuntu-latest, macos-latest, windows-latest]
        runs-on: ${{ matrix.os }}
        steps:
        - uses: actions/checkout@v5
        - uses: dorny/paths-filter@v2.2.1
          id: filter
          with:
            filters: |
              rs:
                - '**/*.rs'
        - uses: actions-rust-lang/setup-rust-toolchain@v1
          if: ${{ steps.filter.outputs.rs == 'true' }}
        - name: Test
          if: ${{ steps.filter.outputs.rs == 'true' }}
          run: cargo test -q
        - name: Build
          if: ${{ steps.filter.outputs.rs == 'true' }}
          run: cargo build --release