name: coverage
on:
  push:
    branches:
      - main

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref }}'
  cancel-in-progress: true

jobs:
    coverage:
        name: Update Code Coverage
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v5
        - uses: dorny/paths-filter@v2.2.1
          id: filter
          with:
            filters: |
              rs:
                - '**/*.rs'
        - uses: actions-rust-lang/setup-rust-toolchain@v1
          if: ${{ steps.filter.outputs.rs == 'true' }}
        - name: Install cargo-llvm-cov
          if: ${{ steps.filter.outputs.rs == 'true' }}
          uses: taiki-e/install-action@cargo-llvm-cov
        - name: Generate code coverage
          if: ${{ steps.filter.outputs.rs == 'true' }}
          id: coverage
          run: |
            echo "COVERAGE=$(cargo llvm-cov -q --summary-only | awk '/^TOTAL/ { print $4 }' | sed 's/%//')" >> "$GITHUB_OUTPUT"
        - name: Update gist
          if: ${{ steps.filter.outputs.rs == 'true' }}
          uses: gorgbus/gist-actions@main
          env:
            GITHUB_TOKEN: ${{ secrets.GIST_TOKEN }}
          with:
            action: "update"
            gist_id: "02a7627bd5ba7bdaaf0063e02cadcfde"
            file_name: "gdm_coverage.json"
            content: |
                { "coverage": ${{ steps.coverage.outputs.COVERAGE }} }

        
          

